// variable 
// =================================
$theme-base-color : #00acc1;
$theme-base-color-opacity-less : #00abc13d;
$theme-black-color: #6e768e;
$theme-primary:#4a81d4;
$theme-common-white:#ffff;
$theme-light-green:#05f4ff;
$theme-common-black:#000;
